/*index Page /main css/*/
body{
      background-image: url(../img/bg-patten1.png);
      
}
h1 , h2 ,h3,h4,h5,h5 {
      color: white;
       
}
p{
      color: lightgray;
}
.navbar-inverse{
      
}

.navbar-brand{
      font-size: 26px;
      font-weight: bold;
      color: white!important;
      
      
}
.navbar-brand:hover{
      color: #ccc!important;
      
}

.navbar-nav{
      font-size: 16px;
      font-weight: bold;
      margin: 30px,100px,0;
      
}

.navbar-inverse .navbar-nav li {
      
}

.navbar-inverse .navbar-nav li a{
      color:gainsboro ;
}

.navbar-inverse .navbar-nav li a:hover{
      background:teal ;
      color: white;
}

.navbar-inverse .navbar-nav .active a{
	background-color: teal;
}
.navbar-inverse .navbar-nav .active a:hover{
	background-color: teal;
}

#slider{
      
      margin-top: 50px;
      width:100%;
      background-size: cover;
      background-image: url(../img/bg.jpg);
}

.item{
      color: white;
      padding: 200px 0;
      
}
.item h1{
      font-size: 40px;
}
.btn {
      color: white;
      font-weight: bold;
      background:teal; 
}
.btn:hover {
     background: #006060 ;
      color: #E3E3E3;
}
.carousel-indicators li{
      background:white;
      margin: 3px;
}

.carousel-indicators .active{
      background: teal;
      
}
.title{
      color:white;
}
.project{
      margin: 10px;
      padding: 10px;
      background-color: rgba(71,72,75,0.3);
}

.project-img:hover{
      opacity: .7;
      
}
.project-img:hover:after{
     content: '+';
    font-size: 80px;
    position: absolute; 
      top: -10px;
      right: 25px;
      color: #fff;
      vertical-align: top;
}


#promot{
      margin: 20px;
      padding: 10px;
      background-color: rgba(71,72,75,0.3);
}

.promot-part{
      
      margin: 0px
}

.footer{
      height: 100px;
      background:#262525;
}
.copy{
      color: aliceblue;
      margin-top: 10px;
}
.copy-link{
      margin-top: 10px;
      font-size: 20px;
      
}
.copy-link .btn{
      background:gray;
}
.copy-link .btn:hover {
      background:teal;
      color:lightblue
}
.gotop{
      float: right;
}


      /*Start Contract Page Style*/

.cnt-header{
      background-image: url(../img/contact_header.png);
      background-size: cover;
      margin-top: 50px;
      margin-bottom: 100px;
      width: 100%;
}
.cnt-header h1{
      padding-top: 240px;
      padding-left: 2%;
      padding-bottom: 2%;
      font-size: 50px;
}
.form{
      background-color: rgba(71,72,75,0.3);
      padding: 20px;
      margin: 10px;

}
.form label{
      color: white;
}
.map{
      background-color: rgba(71,72,75,0.3);
      margin: 10px;
      padding: 10px;
      color: white;
      float: right;
}
.address{
      background-color: rgba(71,72,75,0.3);
      color: white;
      margin: 10px;
      padding: 10px;
      float: right;
}
@media only screen and (max-width: 991px)  and (min-width:300px){ 
      .map{
            float: left;
            margin: 5px;
      }
      .address{
            float: right;
            margin: 5px;
            
      }
}

/* Contract page end */




/* 404 page Start */

.error-header{
      background-image: url("../img/404-header.png");
      background-size: cover;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 100%;
}
.error-header h1{
      padding-top: 350px;
      padding-left: 25%;
      padding-bottom: 2%;
      font-size: 50px;
}
.error-header h3{
      padding-left: 40%;
      padding-bottom: 5%;
      color: #06BEF0;
      
}

/* 404 page End */


/* About page Start */

.about-header{
      background-image: url("../img/about-header.jpg");
      background-size: cover;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 100%;
}
.about-header h1{
      padding-top: 350px;
      padding-left: 2%;
      padding-bottom: 2%;
      font-size: 50px;
}
.about-me{
      color: white;
      font-weight: bold;
      background-color: rgba(71,72,75,0.3);
      margin: 10px;
      padding: 10px;
      float: right ;
}
.about-me img{
      
}
.about-intro{
      background-color: rgba(71,72,75,0.3);
      margin: 10px;
      padding: 10px;
}
/* About page End */


/* Service page start */

.service-header{
      margin-top: 50px;
      margin-bottom: 40px;
      
}
.service-header h1{
      margin-top: 50px;
      margin-bottom: 40px;
      padding-top: 60px;
      padding-left: 2%;
      padding-bottom: 1%;
      font-size: 60px;
}
.body2-service  h1{
      margin: 10px;
      padding: 20px;
       background-color: rgba(71,72,75,0.3);
}
.service{
      background-color: rgba(71,72,75,0.3);
      margin-left: 10px;
      margin-right: 12px;
      
      height: 220px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      color: white;
      
}
.service i {
      margin-top: 50px;
}
.service:hover{
      color: #ccc;
      opacity: 0.8;
}


/* Service page End */



/* Portfolio page End */
.portfolio-title{
      margin-top: 60px;
      
}
/* Portfolio page End */
