* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
@font-face {
    font-family: Proza Libre;
    src: url(fonts/ProzaLibre-Bold.ttf);
}
/*font-family: 'Proza Libre', sans-serif;*/
/* navbar  start css3  toggle menu----------
--------------------------------------------*/
#header {
    background: url(../images/baner.png)top left no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 240px;
}
@import url('http://fonts.googleapis.com/css?family=Merriweather+Sans:700,300');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css');
a:hover {
    text-decoration: underline;
}
#menu .box {
    text-align: center;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu ul {
    position: relative;
    top: 20%;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu li {
    display: inline-block;
    margin: 20px;
}
#menu li a {
    border-radius: 3px;
    padding: 15px;
    border: 1px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#menu li a:hover {
    border-color: #fff;
}
#menu li a i {
    margin-right: 5px;
    font-size: 24px;
}
#toggle-nav-label {
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 500;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
#toggle-nav-label i {
    font-size: 30px;
    color: white;
}
#toggle-nav {
    display: none;
}
#toggle-nav:checked ~ .box {
    opacity: 1;
    z-index: 400;
}
#toggle-nav:checked ~ .box ul {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.heder-txt {
    margin-bottom: 80px;
}
.heder-txt p {
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 80px;
    color: white;
    font-size: 16px;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}
.heder-txt p:before {
    position: absolute;
    border-bottom: 2px solid #e08f0e;
    content: "";
    width: 5%;
    top: 45px;
    left: 550px;
}
.heder-txt h3 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}
.heder-txt h3:before {
    border: 2px solid white;
    position: absolute;
    content: "";
    width: 50%;
    height: 100px;
    top: -30px;
    left: 300px;
}
.heder-icon a {
    border: 1px solid #e08f0e;
    padding: 5px;
    color: white;
}
/* toggle menu css end----------------------
--------------------------------------------*/
#meet-us {
    padding-top: 100px;
    margin-bottom: 76px;
}
.meet-txt h3 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}
.meet-txt h3:before {
    position: absolute;
    border-bottom: 2px solid #e08f0e;
    content: "";
    width: 3%;
    top: 60px;
    left: 560px;
}
.meet-txt p {
    margin-left: 300px;
    width: 600px;
    line-height: 35px;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: inherit;
    font-family: 'Proza Libre', sans-serif;
}
.meet-icon a {
    border: 1px solid #e08f0e;
    padding: 5px;
    color: #e08f0e;
}
/* meet-us css end------------*/
#video-section {
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
#video-first {
    width: 100%;
}
video::webkit-media-controls {
    display: none;
    !important;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .6;
}
/* video section css end-----------*/
#services {
    padding-top: 100px;
    margin-bottom: 80px;
}
.services-txt h3 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}
.services-txt h3:before {
    position: absolute;
    border-bottom: 2px solid #e08f0e;
    content: "";
    width: 3%;
    top: 60px;
    left: 540px;
}
.services-txt p {
    margin-left: 290px;
    width: 580px;
    line-height: 35px;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    text-transform: inherit;
    font-family: 'Proza Libre', sans-serif;
}
.branding {
    width: 300px;
    height: 340px;
    border: 2px solid #d8d8e1;
    transition-duration: 1s;
}
.branding a i {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    color: black;
}
.branding a:hover {
    color: #e08f0e;
}
.branding h5 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
}
.branding h5:hover {
    color: #e08f0e;
}
.branding p {
    width: 300px;
    font-size: 14px;
    text-transform: inherit;
    font-family: 'Proza Libre', sans-serif;
}
.branding p:hover {
    margin-left: 20px;
}
.branding:hover {
    margin-top: -30px;
    margin-left: -20px;
    margin-right: -20px;
    width: 340px;
    height: 400px;
    border: 2px solid #e08f0e;
}
.web-development {
    height: 450px;
}
.ser-icon {
    text-align: center;
}
.ser-icon a i {
    border: 1px solid #e08f0e;
    padding: 5px;
    color: #e08f0e;
}
/* services css end----------------------------*/
#check {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #282f35;
}
#check button {
    width: 200px;
    height: 50px;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #282f35;
}
/* check css end--------------------*/
#latest {
    padding-top: 80px;
    padding-bottom: 70px;
}
.latest-project h3 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}
.latest-project h3:before {
    position: absolute;
    border-bottom: 2px solid #e08f0e;
    content: "";
    width: 5%;
    top: 60px;
    left: 540px;
}
.latest-project p {
    margin-left: 290px;
    width: 580px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    text-transform: inherit;
    font-family: 'Proza Libre', sans-serif;
}
.latest img{
    width: 100%;
    display: inline-block;
}
.images{
    width: 20%;
    float: left;
}
/* latest css end--------------*/
#more {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
.more-bn {
    padding-bottom: 50px;
}
.more-bn a button {
    width: 200px;
    height: 50px;
    border-style: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #c59a6d;
    text-transform: uppercase;
}
.more-icon a i {
    border: 1px solid #e08f0e;
    padding: 5px;
    color: #e08f0e;
}
/* more css end-----------------*/
#partner {
    background: url(../images/baner-2.png) top left no-repeat;
    background-size: cover;
}
.part-overlay {
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .5;
}
.part-overlay h3 {
    padding-top: 130px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}
.part-overlay h3:before {
    position: absolute;
    border-bottom: 2px solid #e08f0e;
    content: "";
    width: 3%;
    top: 200px;
    left: 540px;
}
.part-overlay ul {
    padding-bottom: 80px;
    padding-top: 30px;
}
.part-overlay ul li {
    display: inline-block;
    padding: 30px;
    width: 200px;
    height: 100px;
}
/*partner css end------------------*/
#about {
    padding-top: 80px;
    margin-bottom: 70px;
}
.about-us h3 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}
.about-us h3:before {
    position: absolute;
    border-bottom: 2px solid #e08f0e;
    content: "";
    width: 5%;
    top: 60px;
    left: 540px;
}
.about-us p {
    margin-left: 290px;
    width: 580px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    text-transform: inherit;
    margin-bottom: 70px;
    font-family: 'Proza Libre', sans-serif;
}
.about-us-1 {
    width: 250px;
    height: 300px;
    border: 2px solid #d8d8e1;
}
.about-us-1 img {
    padding-top: 50px;
}
.about-us-1 h6 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}
.about-us-1 h6:before {
    position: absolute;
    border-bottom: 2px solid #e08f0e;
    content: "";
    width: 40%;
    top: 60px;
    left: 70px;
}
.about-us-last {
    width: 180px;
    height: 300px;
    padding-top: 80px;
    border: 2px solid #d8d8e1;
}
.about-us-last h5 {
    font-size: 20px;
    color: black;
}
.about-us-last a i {
    font-size: 20px;
    color: black;
}
.about-us-1:hover {
    border: 2px solid #e08f0e;
}
.about-us-1 h6:hover {
    color: #e08f0e;
}
.about-us-1 p:hover {
    color: #e08f0e;
}
.about-us-last:hover {
    border: 2px solid #e08f0e;
}
.about-us-last h5:hover {
    color: #e08f0e;
}
.about-us-last p:hover {
    color: #e08f0e;
}
.about-icon a i {
    margin-top: 100px;
    border: 1px solid #e08f0e;
    padding: 5px;
    color: #e08f0e;
}
/* about css end--------------*/
#down-slide {
    background: url(../images/baner-3.png)top left no-repeat;
    background-size: cover;
}
.slide-overlay {
    width: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    background-color: black;
}
.item h4 {
    font-size: 25px;
    color: #fff;
    font-weight: 800;
    padding-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
}
.item h4:before {
    position: absolute;
    border-bottom: 2px solid #e08f0e;
    content: "";
    width: 5%;
    top: 90px;
    left: 550px;
}
.item p {
    font-size: 15px;
    width: 480px;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Proza Libre', sans-serif;
    padding-bottom: 30px;
    line-height: 28px;
    margin-left: 330px;
}
.item h6 {
    font-size: 15px;
    color: white;
    font-weight: 800;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
}
.carousel-indicators li {
    border: 1px solid #e08f0e;
    border-radius: 0px;
}
.carousel-indicators .active {
    background-color: #e08f0e;
}
/* down-slider css--------------*/
#contact {
    background-color: #282f35;
    padding-bottom: 50px;
}
.cotact-hdr h3 {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}
.cotact-hdr h3:before {
    position: absolute;
    border-bottom: 2px solid #e08f0e;
    content: "";
    width: 5%;
    top: 60px;
    left: 530px;
}
.address ul li {
    display: inline-block;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
}
.address ul li i {
    color: #e08f0e;
    font-size: 30px;
}
#cont-list li i {
    color: #fff;
    font-size: 12px;
    text-transform: inherit;
}
#cont-list li {
    margin-left: 30px;
}
#con-icon li a i {
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
}
.form-inline .form-control {
    width: 291px;
    height: 60px;
    color: white;
    background-color: #1e2429;
    border-style: none;
    border-radius: 0px;
    padding: 0 0 0 10px;
    box-shadow: 0px;
    margin-bottom: 20px;
}
.form-inline .form-control:hover {
    border-top: 2px solid #e08f0e;
}
#name {
    margin-right: 30px;
}
#Telephone {
    margin-right: 30px;
}
#message {
    width: 612px;
    height: 150px;
}
.con-butt {
    padding-top: 30px;
}
.con-butt button {
    width: 150px;
    color: white;
    font-size: 20px;
    background-color: #c59a6d;
    border-style: none;
    border-radius: 0px;
}
#foter {
    background-color: #282f35;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #c59a6d;
    color: white;
}
.span {
    color: antiquewhite;
}
/*  @media query start--------------
--------------------------------------
----------------------------------------*/
@media (max-width:767px) {
    #menu li a {
        padding: 10px;
        font-size: 14px;
    }
    #header {
        padding-bottom: 60px;
    }
    .heder-txt p {
        font-size: 12px;
    }
    .heder-txt p:before {
        width: 5%;
        top: 45px;
        left: 130px;
    }
    .heder-txt h3 {
        font-size: 20px;
    }
    .heder-txt h3:before {
        width: 90%;
        height: 80px;
        top: -30px;
        left: 15px;
    }
    #meet-us {
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .meet-txt h3:before {
        width: 5%;
        left: 140px;
    }
    .meet-txt p {
        margin-left: 0px;
        width: 320px;
        line-height: 25px;
    }
    .video-overlay {
        height: 180px;
        ;
    }
    #services {
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .services-txt h3 {
        font-size: 20px;
    }
    .services-txt h3:before {
        top: 60px;
        left: 140px;
    }
    .services-txt p {
        margin-left: 0px;
        margin-bottom: 50px;
        width: 300px;
        line-height: 25px;
    }
    .branding {
        width: 250px;
        height: 270px;
        margin-bottom: 30px;
    }
    .branding a i {
        margin-top: 30px;
    }
    .branding h5 {
        font-size: 14px;
    }
    .branding p {
        width: 160px;
        font-size: 12px;
        margin-left: 40px;
    }
    .branding p:hover {
        margin-left: 40px;
        width: 180px;
    }
    .branding:hover {
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
        width: 270px;
        height: 290px;
    }
    .web-development {
        height: 900px;
    }
    #latest {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .latest-project h3 {
        font-size: 20px;
        padding-bottom: 40px;
    }
    .latest-project h3:before {
        width: 6%;
        left: 140px;
    }
    .latest-project p {
        margin-left: 0px;
        width: 280px;
        line-height: 20px;
        font-size: 14px;
    }
    .part-overlay h3 {
        padding-top: 40px;
        color: white;
        font-size: 20px;
        padding-bottom: 30px;
    }
    .part-overlay h3:before {
        width: 10%;
        top: 100px;
        left: 130px;
    }
    .part-overlay ul {
        padding-bottom: 0px;
        padding-top: 20px;
    }
    #about {
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .about-us h3 {
        font-size: 20px;
    }
    .about-us h3:before {
        width: 5%;
        top: 60px;
        left: 130px;
    }
    .about-us p {
        margin-left: 0px;
        width: 300px;
        line-height: 25px;
        margin-bottom: 70px;
    }
    .about-us-1 {
        margin-top: 30px;
    }
    .about-us-last {
        margin-top: 20px;
        border: 2px solid #d8d8e1;
    }
    .item h4 {
        font-size: 20px;
        padding-top: 30px;
        margin-bottom: 50px;
    }
    .item h4:before {
        width: 5%;
        top: 90px;
        left: 130px;
    }
    .item p {
        font-size: 15px;
        width: 280px;
        padding-bottom: 30px;
        line-height: 20px;
        margin-left: 0px;
    }
    #contact {
        padding-bottom: 20px;
    }
    .cotact-hdr h3:before {
        width: 5%;
        top: 60px;
        left: 110px;
    }
    #con-icon li {
        padding: 0px;
    }
    .form-inline .form-control {
        width: 230px;
        height: 60px;
    }
    #message {
        width: 230px;
        height: 150px;
    }
    .con-butt {
        margin-right: 50px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    #header {
        padding-bottom: 80px;
    }
    .heder-txt p:before {
        width: 5%;
        top: 45px;
        left: 330px;
    }
    .heder-txt h3:before {
        width: 70%;
        top: -28px;
        left: 110px;
    }
    #meet-us {
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .meet-txt h3:before {
        width: 5%;
        left: 350px;
    }
    .meet-txt p {
        margin-left: 120px;
        width: 500px;
        line-height: 25px;
    }
    #video-section {
        max-height: 380px;
    }
    .video-overlay {
        height: 380px;
    }
    #services {
        padding-top: 50px;
        margin-bottom: 30px;
    }
    .services-txt h3 {
        font-size: 20px;
    }
    .services-txt h3:before {
        left: 345px;
    }
    .services-txt p {
        margin-left: 120px;
        width: 500px;
        line-height: 25px;
    }
    .branding {
        width: 200px;
        height: 220px;
        margin-bottom: 30px;
    }
    .branding a i {
        margin-top: 10px;
    }
    .branding h5 {
        font-size: 12px;
    }
    .branding p {
        width: 160px;
        font-size: 12px;
        margin-left: 20px;
    }
    .branding p:hover {
        margin-left: 20px;
        width: 180px;
    }
    .branding:hover {
        margin-top: -20px;
        margin-left: -10px;
        margin-right: -10px;
        width: 220px;
        height: 260px;
    }
    .web-development {
        height: 300px;
    }
    #latest {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .latest-project h3:before {
        width: 6%;
        left: 340px;
    }
    .latest-project p {
        margin-left: 140px;
        width: 500px;
        line-height: 25px;
        font-size: 14px;
    }
    .part-overlay h3 {
        padding-top: 40px;
        color: white;
        font-size: 20px;
        padding-bottom: 30px;
    }
    .part-overlay h3:before {
        width: 8%;
        top: 80px;
        left: 320px;
    }
    .part-overlay ul {
        padding-bottom: 0px;
        padding-top: 20px;
    }
    .part-overlay ul li {
        padding: 0px;
        width: 150px;
        height: 80px;
    }
    #about {
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .about-us h3 {
        font-size: 20px;
    }
    .about-us h3:before {
        width: 8%;
        top: 60px;
        left: 320px;
    }
    .about-us p {
        margin-left: 120px;
        width: 500px;
        line-height: 25px;
        font-size: 14px;
    }
    .about-us-1 {
        width: 170px;
        height: 300px;
    }
    .about-us-last {
        width: 130px;
        height: 300px;
    }
    .about-us-last h5 {
        font-size: 15px;
        font-weight: bold;
    }
    .item h4:before {
        width: 5%;
        top: 90px;
        left: 330px;
    }
    .item p {
        font-size: 15px;
        width: 480px;
        padding-bottom: 30px;
        line-height: 20px;
        margin-left: 150px;
    }
    #contact {
        padding-bottom: 20px;
    }
    .cotact-hdr h3:before {
        width: 5%;
        top: 60px;
        left: 330px;
    }
    #con-icon li {
        padding: 10px;
    }
    .form-inline .form-control {
        width: 291px;
        height: 60px;
    }
    #message {
        width: 291px;
        height: 150px;
    }
    .con-butt {
        margin-right: 150px;
    }
}