#my-navbar{
    background: #f4f5f5;
    border-radius: 2px;
    font-family: serif;
    font-size: 20px;
    
}
.carousel .item{
    height: 500px;
   
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#uname,#phone,#email,#comment{
    font-family: serif;
    font-size: 17px;
}
.submit{
    color: #ffffff;
    font-family: serif;
    font-size: 20px;
    border-radius: 2px;
    background:#2fd63c;
    position: relative;

}
.clear{
    background: #2fd63c;
    font-family: serif;
    font-size: 20px;
    border-radius: 2px;
    color:  #f9fdfb;
    position: relative;

}
p{
    font-family: serif;
    font-size: 20px;
}
span{
    font-family: serif;
    font-size: 20px;
}
ul li{
    font-family:  'Angkor';
    font-size: 17px;
}
ul li{
    list-style-type: square;
}
b{
    font-family: 'Angkor';
    font-size: 16px;
}
strong{
    font-family: 'Angkor';
    font-size: 22px;
    color: chocolate;
}
.my-tab li{
    font-family: 'Angkor';
    font-size: 20px;
}
