@font-face {
 font-family: Candara;
 src: url("../fonts/Candara.eot") /* EOT file for IE */
}
@font-face {
 font-family: Candara;
 src: url("../fonts/Candara.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: Franklin;
 src: url("../fonts/FranklinGothicBook.eot") /* EOT file for IE */
}
@font-face {
 font-family: Franklin;
 src: url("../fonts/FranklinGothicBook.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: FranklinIT;
 src: url("../fonts/FranklinGothicBookIT.eot") /* EOT file for IE */
}
@font-face {
 font-family: FranklinIT;
 src: url("../fonts/FranklinGothicBookIT.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: Revere;
 src: url("../fonts/RevereNormal.eot") /* EOT file for IE */
}
@font-face {
 font-family: Revere;
 src: url("../fonts/RevereNormal.ttf") /* TTF file for CSS3 browsers */
}

*
{
    margin: 0%;
    padding: 0%;
}

body
{
    background-color: #fffefa;
    width: 100%;
}

.logo
{
    width: 17%;
    height: 82px;
    margin: 40px auto;
    background-image: url("../images/logobg.png");
    background-repeat: repeat;
    position: relative;
    overflow: hidden;
}

.logo p
{
    margin: 0% auto;
    text-transform: capitalize;
    text-align: center;
    font-family: Revere;
    font-size: 50px;
    color: #898989;
    font-weight: lighter;
}

.logo span
{
    color: #e6a549;
}

#smalllogo
{
    color: #898989;
    font-size: 11px;
    font-family: Franklin;
    text-transform: uppercase;
    display: block;
    padding: -1%;
}


header .navbar-default .navbar-nav>li>a
{
    text-decoration: none;
    color: #898989;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Franklin;
}

header .navbar-default .navbar-nav>li>a:focus, header .navbar-default .navbar-nav>li>a:hover, header .navbar-default .navbar-nav>li>a:active
{
    text-decoration: none;
    color: #898989;
}

header .navbar-default
{
    background-color: transparent;
    border-style: solid;
    border-width: 1px 27px;
    -moz-border-image: url(../images/menuborder.jpg) 1 27 repeat;
    -webkit-border-image: url(../images/menuborder.jpg) 1 27 repeat;
    -o-border-image: url(../images/menuborder.jpg) 1 27 repeat;
    border-image: url(../images/menuborder.jpg) 1 27 fill repeat;
}


.search
{
    float: right;
    padding: 2.2% 0%;
    margin-top: 3px;
}

.search input
{
    background-image: url(../images/searchbg.png);
    border: none;
    padding: 4%;
    position: relative;
    color: #898989;
    overflow: hidden;
}

.search input:focus
{
    outline: none;
}

.search input placeholder
{
    color: black;
}

.search img
{
    position: absolute;
    right: 3%;
    top: 16px
}

.slider
{
    margin-bottom: 50px;
    margin-top: 30px;
    -webkit-box-shadow: 0px 10px 11px -9px rgba(0,0,0,1);
    -moz-box-shadow: 0px 10px 11px -9px rgba(0,0,0,1);
    box-shadow: 0px 10px 11px -9px rgba(0,0,0,1);
}

.carousel-caption {
    left: 0;
    right: 0;
    padding-bottom: 0px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.2);
    font-family: Franklin;
    color: black;
}

.motto
{
    background-color: white;
    padding: 2% 2.5%;
    text-align: center;
    font-family: Revere;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -7px rgba(0,0,0,0.75);
    margin: 5% 0%;
    font-size: 120%;
    color: #393939;
}

.motto span
{
   color:  #e6a549;
}

.gallary
{
    overflow: auto;
    margin-left: -3%;
    margin-right: -3%;
    margin-bottom:50px;
    padding-bottom: 50px;
    border-style: solid;
    border-width: 0px 27px 1px;
    -moz-border-image: url(../images/menuborder.jpg) 0 27 1 stretch;
    -webkit-border-image: url(../images/menuborder.jpg) 0 27 1 stretch;
    -o-border-image: url(../images/menuborder.jpg) 0 27 1 stretch;
    border-image: url(../images/menuborder.jpg) 0 27 1 fill stretch;
}

.gallary h4
{
    color: #898989;
    font-family: franklin;
    font-weight: bold;
    margin-bottom: 4%;
}

.gallary span
{
    color: #e6a549;
}

.gallary .col-md-3
{
    padding-left: 0px;
    padding-right: 0px;
}

.content
{
    overflow: auto;
    font-family: Franklin;
    margin-bottom: 50px;
}

.content h3 {
    margin: 5% 0%;
    font-size: 20px;
    font-weight: lighter;
    color: #393939;
}

.content h3 span {
    color: #e6a549;
}

.author
{
    
}

.dates {
    margin-bottom: 2%;
    padding-left: 4%;
    font-size: 13px;
    color: #b8b7b5;
}

.dates span {
    color: #e6a549;
    font-family: FranklinIT;
    margin-left: 1%;
}

.right_panels_text {
    width: 85%;
    padding-left: 4%;
    font-size: 13px;
    color: #393939;
}

.readmore {
    width: 28%;
    overflow: auto;
    padding: 2%;
    padding-left: 4%;
    background-image: url(../images/readbg.png);
    float: right;
}

.readmore a {
    text-decoration: none;
    color: #393939;
    font-family: Franklin;
    padding: 2%;
    font-size: 14px;
}

.readmore img {
    margin-left: 4%;
    padding-bottom: 2%;
}

.author p
{
    font-size: 14px;
    color: #393939;
    line-height: 20px;
    padding-bottom: 60px;
}

footer {
    overflow: auto;
    background-image: url(../images/footerbg.png);
    padding-bottom: 4%;
}

footer .container
{
    width: 76%;
}

footer .col-md-4
{
    margin-top: 50px;
    font-family: Franklin;
    padding-right: 3%;
}

footer .col-md-4 h3
{
    margin-bottom: 30px;
    font-size: 21px;
}

footer .col-md-6
{
    padding-left: 0px;
}

footer .col-md-4 p
{
    font-size: 13px;
}

footer .col-md-4 ul
{
    list-style-type:none;
}

footer .col-md-4 a
{
    text-decoration: none;
    font-size: 13px;
    color: #b2b1b0;
}

footer .col-md-4 a:hover, footer .col-md-4 a:active, footer .col-md-4 a:focus
{
    color: #393939;
}

.social {
    margin-top: 200px;
}

.copyright
{
    text-align: center;
    color: #393939;
    font-family: Candara;
    margin: 1% auto;
    font-size: 14px;
}

.copyright span
{
    color: #b2b1b0;
}