*{
    margin: 0px;
    padding: 15px;
}

.container{
    margin: 0 auto;
    padding: auto;
    width: 780px;
    background-color: dimgray;
}



.div-before{
    text-decoration: inline;
    background-color: red;
    text-align: center;
}
.div-1{
    background-color: grey;

}
.div-la{
    width: 680px;
    background-color: blue;
    padding-left: 25px;
    margin: auto;
}

.div-1b{
    width: 680px;
    background-color: yellowgreen;
    padding-left: 25px;
    margin: auto;
}
.div-1c{
    width: 680px;
    background-color: chocolate;
    padding-left: 25px;
    margin: auto;
}
.div-after{
    height: 80px;
    background-color: green;
}