label {
    
    font-size: 13px;
}

.checkbox-inline, .radio-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 4px;
    position: relative;
    vertical-align: middle;
}

.col-md-5 {
    width: 41.6667%;
    background-color: grey;
}