
/*Theme name: GreeenFair
description: ............

___Content Table____

1. common css
2. header area css
3. slider area css
4. service-area css
5. join area css
6. works area css
7. achivement area css
8. event-area css
9. testimonial-area css

*/
/*

1. common css

*/

*{
    margin:0px;
    padding:0px;
}
html, body{
    height:100%;
	width: 100%;
}
img{
	max-height: 100%;
	max-width: 100%;
}
a, a:active, a:hover{
    text-decoration:none;}

a:focus{outline:none;}

.quick-links a:hover,
.hmenu-area ul.nav > li > a:hover,
.single-service:hover h4{
    transition:all .4s 0s;
}
.section-padding{
    padding:40px 0px;
}

/*

2. header area css 

*/

.htop-area{
    background:#fbfbfb;
}
.quick-contact p{
    display:inline-block;
    margin-right:30px;
    color:#646464;
}
.quick-contact p a{
    color:#646464;
}
.quick-links a{
    color:#646464;
    margin-left:15px;
}
.quick-links a:hover{
    color:#43a906;
}
.navbar-brand{
    height:auto;
    padding:38px 15px;
}

.hmenu-area{
    margin-bottom:0px;
    border:none;
}
.hmenu-area ul.nav > li > a{
    position:relative;
    line-height:105px;
    text-transform:uppercase;
    background:none;
    color:#393939;
}

.hmenu-area ul.nav > li > a:hover, .hmenu-area ul.nav > li:active > a::after{
    content:"";
    color:#43a906;
}
.hmenu-area ul.nav > li > a:hover::after, .hmenu-area ul.nav > li:active > a::after{
    position:absolute;
    content:"";
    left:0px;
    bottom:0px;
    width:0%;
    height:5px;
    background:#43a906;
}
.hmenu-area ul.nav > li > a:hover::after, .hmenu-area ul.nav > li:active > a::after{
    width:100%;
    content:"";
}
/*
3. slider-area
*/
.slider-area,
.homeslider,
.carousel,
.carousel-inner,
.item{
    height:480px;
}
.slide-bg{
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}

.slide1{
    background-image:url(img/banner1.JPG);
}
.slide2{
    background-image:url(img/banner2.JPG);
}
.slide3{
    background-image:url(img/banner3.JPG);
}
.carousel-caption{
    text-transform:uppercase;
    bottom:110px;
}
.carousel-caption h1 span{
    display:block;
    color:#fff;
    font-weight:700;
    margin-bottom:20px;
}
.carousel-caption h1{
    margin-bottom:5px;
}
.carousel-caption p{
    margin-bottom:30px;
}
.carousel-caption a {
    background:#101010;
    color:#fff;
    padding:12px 22px;
}
/*
4. service-area css
*/
.service-area{
    padding:70px 0px;
}

.single-service, .service-title{
    text-align:center;
}

.service-title h1{
    color:black;
    text-transform:uppercase;
    margin-bottom:35px;
}
.service-title p{
    color:#939393;
    margin-bottom:50px;
}


.icon{
    font-size:48px;
    color:#c4c4c4;
    width:120px;
    height:120px;
    line-height:120px;
    margin:0px auto;
    border:1px solid #d5d5d5;
    border-radius:50%;
}
.single-service h4{
    text-transform:uppercase;
}
.single-service:hover .icon{
    background:#43a906;
    color:#fff;
    transition:all .8s 0s;
}
.single-service:hover h4{
    color:#43a906;
}

/*

5. join area css

*/

.join-area{
    background:#222222;
    padding:60px 0px;
}
.left-join h1, .left-join p{
    color:#fff;
}
.left-join h1{
    font-weight:700;
    text-transform:uppercase;
}
.left-join h1 span{
    color:#43a906;
    font-weight:700;
}

.join-now{
    text-transform:uppercase;
    background-color:#43a906;
    border:none;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 40px;
    color:#fff;
}
.join-now:hover{
    background-color:#386d18;
    color:#f6ebeb;
}
.submit{
    background-color:#43a906;
    border:1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    color:#fff;
   
}
.submit:hover{
    background-color:#386d18;
    color:#f6ebeb;
}
.modal-title, .submit{
    text-transform:capitalize;
}

.modal-title{
    text-align:left;
}

/*

6. works area css
*/
.work-area{
    padding:40px 0px;
}
.work-cat{
    margin-bottom:30px;
}
.work-cat ul{
    list-style:none;
    margin-bottom:0px;
}
.work-cat ul li{
    display:inline-block;
    background:#f6f6f6;
    padding:10px 20px;
    color:#726e6e;
    border:1px solid #e9e9e9;
    cursor:pointer;
    margin-right:20px;
}
.work-cat ul li.active{
    background:#43a906;
    color:#fff;
}
/*

7. achivement-area

*/
.achivement-area{
    background:#bdbebd;
    padding:40px 0px;
}
.single-achive{
    text-align:center;
    color:#fff;
}
.single-achive h1{
    border-bottom:1px solid #fff;
    display:inline-block;
    padding-bottom:10px;
}
.single-achive i{
    display:block;
    color:#43a906;
    font-size:78px;
}

/*

8. event area css

*/
.events > *{
    width:50%;
    box-sizing:border-box;
}
.event-img{
    float:left;
}
.event-details{
    float:right;
    background:#eff0f2;
    padding:20px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.event-all div:nth-child(even) .event-img{
    float:right;
}
.event-all div:nth-child(even) .event-details{
    float:left;
}
.eside{
    margin-bottom:34px;
}
.eside:last-child{
    margin-bottom:0px;
}
.side{
}
.eimg{float:left;
    
}
.edetails{
    margin-left:110px;
}

/*

9. testimonial-area css

*/
.testimonial-area{
    background:#101410;
    color:#000;
}
.testi-title{
    text-align:center;
}
.testi-title h1{
    color:#fff;
    text-transform:uppercase;
    margin-bottom:35px;
}
.testi-title p{
    margin-bottom:50px;
    color:#fff;
}
.t-text{
    background:#ffffff;
    padding:30px;
    box-sizing:border-box;
    font-style:italic;
    position:relative;
    padding-top:60px;
    padding-left:70px;
    position:relative;
}
.t-text::before{
    content: "\f10d";
    font-family: fontawesome;
    font-size: 30px;
    left: 23px;
    position: absolute;
    top: 50px;
}
.t-slide{
    padding-top:50px;
}
.t-slide h5{
    text-align:center;
    color:#fff;
}
.t-slide h5 span{
    display:block;
    color:#43a906;
    margin-top:6px;
}
.author-img{
    width:100px;
    height:100px;
    border-radius:50%;
    background-image:url(img/tp.JPG);
    background-repeat:no-repeat;
    background-position:center center;
    position:absolute;
    left:40%;
    margin-left:-60px;
    top:-50px;
}
.testimonial-slider .owl-dots div{
    width:12px;
    height:12px;
    border:1px solid #fff;
    display:inline-block;
    margin-right:5px;
    background:#fff;
}
.testimonial-slider .owl-dots{
    margin-right:-5px;
    text-align:center;
}

/*
get in touch area

*/

.get-in-touch-area{
    background:#eeeeee;
}

.contact-form input, .contact-form textarea{
    background:#d4d4d4;
    color:#696969;
    padding:15px;
    border-radius:4px;
    border:1px solid #cacaca;
    width:100%;
    margin-bottom:15px;
}
.contact-form input[type="submit"]{
    background:#43a906;
    color:#fff;
    border:none;
    padding:15px 35px;
    width:auto;
}
.contact-form textarea{
    min-height:200px;
}





