body {
	background:#051E49;
	background-image:url("../img/comming/header.png");
	background-repeat:none;
	background-size: cover;
      background-attachment: fixed;
      background-position: top center;
	
}
header{
margin-top: 95px;
}


section.mid-txt{
      margin-bottom: 100px;
}

section.mid-txt img {
      width: 90%;
      overflow: hidden;
      
      
}
p.working{
      font-size: 30px;
      color: white;
      margin:10px;
      font-style: italic;
      font-family: Segoe Script ,Tekton Pro;
}


.input-group{
      width: 85%;
      
     
     
}

.btn:hover{
      color: white;
      background-color: grey;
}


footer{
      height: 100px;
      align-content: center;
      float: center;
      margin-top: 5%;
      padding: 0;
      color: #ffffff;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
}
.link img{
      margin-left: 0px;
      padding: 10px;
      border: 1px;
      width: 150px;
      height: 50px;
      float: center;
}