/*
    Theme name : Reflex
    discription : 

--------------------------------------------

    Content Table :

0. base css
1. header area css
2. banner area css
3. about area css
4. services area css
5. skills area css
6. testimonial area css
7. fun-facts-area css
8. footer-area css

*/

/*

0. base css

*/
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus{
    outline: none;
}
a:active{
    text-decoration: none;
}
input, textarea{
    border: none;
    background: #f6f6f6;
}
html, body{
    height: 100%;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.section-title h3{
    color: #002a54;
    font-weight: 700;
    text-transform: uppercase;
    
}
.section-title h6{
    color: #acacac;
    position: relative;
    padding-bottom: 10px;
}
.section-title h6::after{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 0px;
    height: 1px;
    width: 50px;
    content: "";
    background: #002a54;
}

.section-padding{
    padding-top: 40px;
    padding-bottom: 40px;
}


/*

1. header area css

*/

.header-top-area{
    background: #053752;
}
.header-top-area p{
    margin-bottom: 0px;
}
.intro-text p, .quick-contact p, .quick-contact p a, .social-link a{
    color: #fff;
}

.intro-text p{
    line-height: 38px;
}
.quick-contact p{
    display: inline-block;
    margin-left: 20px;
    line-height: 38px;
}
.quick-contact p i{
    margin-right: 10px;
}
.social-link{
    border-left: 1px solid #094f75;
    padding: 8px 0px;


}
.social-link a, .member-links a{
    display: inline-block;
    line-height: 22px;
    height: 22px;
    width: 22px;
    border: 1px solid #fff;
    margin-left: 6px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

.header-bottom-area .navbar-nav{}
.header-bottom-area .navbar-nav > li{}
.header-bottom-area .navbar-nav > li > a{
    color: #053752;
    padding-top: 40px;
    padding-bottom: 40px;
}
.header-bottom-area .navbar-nav > li > a:hover{
    color: #fdb813;
    background: none;
}
.header-bottom-area .navbar-nav > li > a:focus{
    background: none;
}

.navbar {
    border-radius: none;
    border: none;
    margin-bottom: 0px;
}

.header-bottom-area .navbar-nav > li.search .search-btn{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #053752;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.header-bottom-area .navbar-nav > li.search{
    padding: 30px 0px;
}

.header-bottom-area .navbar-header > a{
    margin-top: 20px;
}

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: rgba(0, 0, 0, 0.88);
}
.search-form form {
    border: 1px solid rgba(255, 255, 255, 0.20);
    overflow: hidden;
    border-radius: 30px;
}
.search-form form input{
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    background: none;
    float: left;
    padding: 30px;
}

.search-form form input[type="text"]{
    width: calc(100% - 70px);
    float: left;
}
.search-form form input[type="text"]:focus{
    color: yellow;
}

.search-form form input[type="submit"]{
    width: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 0px;
}
.search-form span.r-close{
    position: absolute;
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    right: 0px;
    top: 0px;
    color: rgba(255, 255, 255, 0.85);
    font-size: 30px;
    cursor: pointer;
}




/*

2. banner area css

*/

.banner-area{
    background-image: url(img/banner1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100% - 138px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.banner-area::after{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(6, 6, 6, 0.66);
}
.banner-text{
    z-index: 3;
    position: relative;
    color: #fff;
}

/*    3. about area css     */

.about-text p{
    color: #acacac;
    margin-top: 20px;
}
.about-text a{
    color: #002a54;
    border: 1px solid #002a54;
    border-radius: 20px;
    padding: 6px 14px;
    
}

/*    4. services area css     */

.single-service{}
.single-service .icon{
    float: left;
    width: 70px;
    text-align: center;
    font-size: 22px;
}
.single-service .details{
    padding-left: 70px;
}
.services-area{
    position: relative;
}
.border-left, .border-right{
    position: absolute;
    left: 0px;
    width: 100px;
    height: 100%;
    background: #053752;
    bottom: 40px;
}
.border-right{
    left: auto;
    right: 0px;
}

/*    skills-area css    */

.skills{
    position: relative;
    background: #000;
}
.skill-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    background-image: url(img/skill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.single-skill{
    color: #fff;
}


/*    6. testimonial area css     */

.author-img{
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}
.single-testimonial p{
    
}

.single-testimonial{
    background: #053752;
    overflow: hidden;
    color: #fff;
    padding: 15px 10px;
    box-sizing: border-box;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 20px;
}
.testimonial-slider .owl-controls > .owl-pagination{
    text-align: center;
    margin-right: -5px;
}
.testimonial-slider .owl-controls > .owl-pagination .owl-page{
    height: 12px;
    width: 12px;
    background: #053752;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
}
.testimonial-slider .owl-controls > .owl-pagination .owl-page.active{
    background: #fcb910;
}

.testimonial-slider .owl-controls > .owl-buttons{
    position: absolute;
    bottom: 40px;
    width: calc(100% - 50px);
    left: 25px;
}
.testimonial-slider .owl-controls > .owl-buttons div{
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 20px;
    color: #fcb910;
}
.testimonial-slider .owl-controls > .owl-buttons .owl-next{
    position: absolute;
    top: 0px;
    right: 0px;
}
.testimonial-slider .owl-wrapper div:nth-child(even) .single-testimonial .author-img{
    float: left;
}

.testimonial-slider .owl-wrapper div:nth-child(even) .single-testimonial{
    text-align: left;
}


/*    7. fun-facts-area css    */

.fun-facts-area{
    background-image: url(img/fun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}
.fun-facts-area::after{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(39, 82, 105, 0.80);
    content: "";
}
.single-fun{
    position: relative;
    z-index: 3;
}
.single-fun h1{
    color: #fff;
    position: relative;
    margin-bottom: 17px;
}
.single-fun h1::after{
    position: absolute;
    left: 43%;
    bottom: -65%;
    background: #fcb910;
    width: 40px;
    height: 2px;
    content: "";
    margin-bottom: 17px;
}
.single-fun p{
    color: #f6f6f6;
}

/*    8. footer-area css    */

.footer-top{
    background: #053752;
    color: #fff;
}

.footer-widget h5{
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
}

.footer-widget h5::after{
    position: absolute;
    left: 0px;
    bottom: -80%;
    background: #fcb910;
    width: 40px;
    height: 2px;
    content: "";
}
.recent{
    margin-bottom: 30px;
}
.r-img{
    float: left;
    margin-right: 30px;
}
.r-details{
    
}

.footer-widget p span{
    display: block;
    color: #e9af16;
    margin-top: 15px;
}

.footer-bottom{
    background: #265167;
    color: #ffffff;
}

.link{
    padding: 6px 0px;
}
.link a{
    height: 25px;
    width: 25px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
}

.ff p{
    line-height: 36px;
    margin-bottom: 0px;
}

/*   end home page .............................................................................................   */

/*    About Page    */

.ab-banner .section-title{
    position: relative;
    z-index: 3;
}
.ab-banner .section-title h3{
    color: #fff;
}
.ab-banner .section-title h6{
    color: #cccccc;
}
.ab-banner .section-title h6::after{
    background: #fdb813;
    content: "";
}

.aboutp .banner-area{
    background-image: url(img/abbanner.jpg);
    height: 260px;
}

.skill-text h3{
    color: #053752;
    margin-bottom: 55px;
    font-weight: 700;
}
.skill-text h6{
    color: #aaa9a9;
}
.skill-text p{
    margin-bottom: 34px;
}

.ab-skill .single-skill, .ab-skill .single-skill h5{
    color: #053752;
    font-weight: 700;
}

.team-area .section-title h6::after{
    background: #fdb813;
    content: "";
}

.member-links a{
    border-color: #f1f1f1;
    color: #656565;
    
}
.member-links a:hover{
    background: #053752;
    color: #fff;
}
.single-member, .shop{
    padding: 12px;
    border: 1px solid #f1f1f1;
    border-radius: 10px 0 0;
}
.single-member h4{
    color: #003755;
    font-weight: 700;
}
.single-member h6{
    color: #d6d6d6;
}
.member-img img{
    border-radius: 5px 0px 0px 0px;
}
.member-img{
    position: relative;
    overflow: hidden;
}
.img-hover{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(27, 72, 97, 0.88);
    border-radius: 5px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease 0s;

}
.img-hover a{
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
}

.member-img:hover .img-hover{
    visibility: visible;
    opacity: 1;
}

.img-hover a:last-child{
    transform: translateX(150px);
    transition: all 0.4s ease 0s;
}
.img-hover a:first-child{
    transform: translateX(-150px);
    transition: all 0.4s ease 0s;
}

.member-img:hover .img-hover a:first-child{
    transform: translateX(0px);
}
.member-img:hover .img-hover a:last-child{
    transform: translateX(0px);
}
.team-area .section-title{
    margin-bottom: 60px;
}


/*   end about page .............................................................................................   */


.servicep .banner-area{
    background-image: url(img/srbanner.jpg);
    height: 260px;
}

.sr-banner .section-title{
    position: relative;
    z-index: 3;
}
.sr-banner .section-title h3{
    color: #fff;
}
.sr-banner .section-title h6{
    color: #cccccc;
}
.sr-banner .section-title h6::after{
    background: #fdb813;
    content: "";
}
.single-sr{
    overflow: hidden;
    width: 100%;
}
.sr-img{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.sr-details{
    position: absolute;
    overflow: hidden;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px 10px;
    background: rgba(5, 50, 74, 0.85);
    color: #fff;
}
.sr-details h5{
    margin: 0px 0px;
}


.sr-purchese-area{
    background: #053752;
    color: #fff;
}
.sr-purchese a{
    color: #fdb813;
    display: inline-block;
    background: #fff;
    padding: 6px 25px;
    border-radius: 20px;
    margin-top: 30px;
}
.client-says-area .section-title{
    margin-bottom: 40px;
}
.single-client{
    color: #cccccc;
}
.client-says-area
.client-slider
.owl-controls
.owl-pagination{
    text-align: center;
    margin-top: 20px;
}

.client-says-area
.client-slider
.owl-controls
.owl-pagination .owl-page {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #053752;
    border-radius: 50%;
    margin-right: 4px;
}
.client-says-area
.client-slider
.owl-controls
.owl-pagination .owl-page.active {
    background: #fcc12b;

}







/*   end service page .............................................................................................   */

.project-filter .mix{
    display: none;
}
.project-category{
    margin-bottom: 25px;
}
.project-category ul{
    list-style: none;
}
.project-category ul li{
    display: inline-block;
    margin-left: 30px;
    text-transform: capitalize;
    color: #053752;
    font-weight: 700;
    cursor: pointer;
}
.project-category ul li.active{
    color: #fdb813;
}

.single-project h5{
    color: #053752;
    font-weight: 600;
}
.single-project h5 span{
    display: block;
    color: #c6c6c6;
}
.single-project{
    margin-bottom: 60px;
}
.pro-purchese{
    background: #265167;
}
.pro-purchese h4{
    color: #e4e4e4;
}
.pro-purchese a{
    color: #fff;
    display: inline-block;
    padding: 8px 30px;
    background: #d69d15;
    border-radius: 12px;
    text-transform: uppercase;
}


/*   end project page .............................................................................................   */

.shop-details h5{
    color: #265167;
    font-weight: 700;
}
.shop-details p{
    color: #053752;
    font-weight: 500;
}
.shop-details p del{
    color: #bab9b9;
}
.shop-details a{
    background: #fdb813;
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    padding: 4px 8px;
    
}

/*   end shop page .............................................................................................   */

.blog-details h4{
    color: #053752;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 0px;
}
.b-post-meta{
    margin-bottom: 35px;
}
.single-blog{
    margin-bottom: 50px;
}
.b-post-meta a, .blog-details p{
    color: #b0b0b0;
}
.blog-details .c a{
    color: #fdb813;
}
.side-bar{
    background: #f9f9f9;
    padding:20px 40px;
    border-bottom: 2px solid #eae8e8;
}

.side-bar h5{
    margin-bottom: 30px;
    color: #053752;
    font-weight: 700;
}

.side-menu{}
.side-menu ul{
    list-style: none;
}
.side-menu ul li{
    color: #bec1c2;
    margin-bottom: 15px;
    position: relative;
}
.side-menu ul li::before{
    position: absolute;
    top: 0px;
    left: -25px;
    border: 1px solid #b8bbbc;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: #b8bbbc;
    content: "\f105";
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 14px;
}

/*   end blog page .............................................................................................   */

.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
}
.contact-form input{
    margin-bottom: 35px;
}
.contact-form input[type="submit"]{
    background: #fdb813;
    color: #fff;
    margin-top: 30px;
}
.contact-form h4{
    margin-bottom: 40px;
    font-weight: 700;
    color: #053752;
}
.contact-info h4{
    color: #053752;
}
.contact-info{
    margin-bottom: 50px;
}
.contact-info p{
    line-height: 40px;
}
.contact-info h6{
    margin-top: 10px;
}
.contact-info h6:last-child{
    margin-left: 45px;
}
.contact-info:nth-child(3) {
    margin-bottom: 0px;;
}


/*   end contact page .............................................................................................   */