
body{
	background-color: #ffffff;
}
 
 .logo{
 	float: left;
 }

 .logo h1 a img{
          /*height: 100px;
          width: 140px;*/
     /*width: 100%;*/
    max-width: 170px;
    margin-top: 1px;
    border: 1px solid #d6d6d6;
    height: 98px;
 }
header{
	background-color: #fbfbfb;
	min-height: 95px;
}
.logo p{
	line-height: 0.5em;
	color: #345f2f;
	font-size: 12px;

}
.logo h4{
	font-size: 15px;

}
.title{
	float: left;
	font-family: ubuntu;
	font-size: 15px;
    color: #345f2f;
    line-height: 0.5em;
    /*padding-left: 60px;*/
}
.title h1{
	padding-left: 74px;
}
.title p{
	padding-left: 74px;
}
nav{
	padding-left: 11px;
}
.header-nav ul li{
    padding-left: 25px;
    margin-left: 2px;
    display: inline;
    padding-top: 40px;
    float: left;
}
.header-nav ul li a{
	text-decoration: none;
    color: black;
    font-family: ubuntu;
    font-size: 20px;
    /*border: 10px;*/
    
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
}
.header-nav ul li a:hover{
	color: #345f2f;
	background-color: grey;
	padding: 5px;
}

.social{
	float: right;
    margin: 5px;
    padding: 5px;
    padding-top: 25px;
    font-size: 15px;
    color: #345f2f;

}
.social p{
	line-height: .5em;
	margin: 10px;
	font-size: 19px
}
.social ul {
	margin: 5px;
	padding: 5px;
	border: 5px;
}
.social ul li{
	margin: -1px 10px 5px 0;
	padding: 5px;
	padding-top: 10px;
	height: 28px;
    width: 28px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    -moz-border-radius: 100%;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-border-radius: 100%;
    -webkit-transition: all .3s ease;
    border: 1px solid #fff;
    border: 5px;
    border-radius: 4px;
}
.social ul li a:hover{
	color: #fff;
	background-color: grey;
}
.social ul li a{
	display: block;
}

.col-md-2, .col-md-7, .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
}

aside{
	display: block;
}
.mini-logo {
    margin-bottom: -8px;
}

div.mini-logo img {
    width: 100%;
    max-width: 283px;
    margin-top: 1px;
    border: 1px solid #d6d6d6;
    height: 194px;
}
img {
    vertical-align: middle; 
    max-width: 100%;
    border: 0;
}
.left-menu {
    margin-top: 10px 0!important;
    padding: 0;
}

ul.nav-list.primary>li {
    margin: 0;
    padding: 0;
}
ul.left-menu li {
    line-height: 14px;
}

li.heading {
    margin: 0;
    background: #316441;
    font-size: 100%;
    border: 1px solid #797777;
    padding: 15px 0 15px 15px!important;
    margin-top: 20px;
    color: #fff;
    background: #5b4282 url("../img/pattern.png") repeat center center !important;
}
/*@media (min-width: 992px)
.col-md-2 {
    width: 22.66666667%;
}*/

.middle-col {
    border: 1px solid #d6d6d6;
     background: #c5c5c5; 
    padding-left: 10px;
    padding-right: 10px;
}

/* card system css */
.js-trick-container{
    position: relative;
    height: 753px;
}
.trick-card {
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.content-box, .trick-card-inner {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box; 
}
.trick-card-title {
    display: block;
    font-weight: 700;
    color: #33383A;
    font-size: 20px;
    padding: 20px;
}
a {
    color: #f47063;
    text-decoration: none;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}
.trick-card-by {
    border: none;
    padding-top: 0;
}
.trick-card-stats {
    color: #777;
}
.trick-card-stats, .trick-card-tags {
    width: 100%;
    border-top: #eee 1px solid;
    padding: 10px 20px;
    font-size: 13px;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.trick-card-stat-block {
    height: 20px;
    line-height: 20px;
    float: left;
    width: 33.333%;
}
.tag {
    float: left;
    display: block;
    border: 1px solid #FB503B;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FB503B;
    font-weight: 700;
    padding: 1px 5px;
}
.tag:hover {
    text-decoration: none;
    border-color: none;
    color: #fff;
    background-color: #FB503B;
}
a:focus, a:hover {
    color: #ef2e1c;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

/* footer section */
#footer {
    height: 60px;
    background-color: #444040;
    -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    box-shadow: 0 -1px 2px rgba(0,0,0,.1);
}
#footer>.container {
    padding-left: 15px;
    padding-right: 15px;
}
.container .credit {
    margin: 20px 0;
}

.text-muted {
    color: #999;
}