/* ==== Google font ==== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

body {
    font-family:'Open Sans', Arial, sans-serif;
    font-size:14px;
    font-weight:300;
    line-height:1.6em;
    color:#fff;
    background-color:#fff;
    overflow-x:hidden;
}

hi,h2,h3,h4,h5,h6 {
    color:#333;
    line-height:1.1em;
}

p {
    color:#333;
    font-size:13px;
}

/*===========================
  Menu and Navigation
============================ */
.navigation  {
    background-color:#fff;
    padding:0;
}

.navbar-brand h1 {
    margin-top:9px;
    padding-top:5px;
    float: left;
    font-size: 25px;
    color:#333;
    text-transform:uppercase;
    font-weight:900;
}
.navbar-brand h1 span {
    color: #631bbd;
}

.menu {
    font-size:12px;
    float:right;
    text-transform:uppercase;
    font-weight:700;
}

.menu ul.nav-tabs li {
    color:#000;
}

.nav-tabs {
    border-bottom: 0;
}
.nav-tabs > li {
    float: left;
    margin-bottom: 0;
}
.nav-tabs > li > a {
    border-radius:0;
    color:#333;
    padding:30px;
}

.nav-tabs > li > a:hover {
    color:#771fbd;
    border-color: #fff #fff #fff;
    border-radius:0;
    background-color:#fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.nav-tabs > li > a.active {
    color: #631bbd;
    border-radius:0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/*===========================
  slider
============================ */
#main-slider {
    margin-top:40px;
}

#main-slider {
    position: relative;
}

.no-margin {
    margin: 0;
    padding: 0;
}

#main-slider .carousel .carousel-content {
    margin-top: 150px;
}

#main-slider .carousel .slide-margin{
    margin-top: 140px;
}

#main-slider .carousel h2 {
    color: #fff;
    text-transform:uppercase;
    font-size:50px;
    font-weight:800;
}

#main-slider .carousel h2 span {
    color: #1BBD36;
}

#main-slider .carousel h2 span spani {
    color: #000;
}

#main-slider .carousel p {
    color: #ddd;
    font-size:25px;
}

#main-slider .carousel .btn-slide {
    padding: 8px 20px;
    background: #1BBD36;
    color: #fff;
    border-radius: 4px;
    margin-top: 25px;
    display: inline-block;
}

#main-slider .carousel .slider-img{
    text-align: right;
    position: absolute;
}


#main-slider .carousel .item {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    height: 730px;
    -webkit-transition: opacity ease-in-out 500ms;
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
    top: auto;
    position: relative;
}

#main-slider .carousel .item.active {
    opacity: 1;
    -webkit-transition: opacity ease-in-out 500ms;
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 1;
}

#main-slider .active .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    -moz-animation: fadeInUp 300ms linear 300ms both;
    -o-animation: fadeInUp 300ms linear 300ms both;
    -ms-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    -moz-animation: fadeInUp 300ms linear 600ms both;
    -o-animation: fadeInUp 300ms linear 600ms both;
    -ms-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    -moz-animation: fadeInUp 300ms linear 900ms both;
    -o-animation: fadeInUp 300ms linear 900ms both;
    -ms-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    -moz-animation: fadeInUp 300ms linear 1200ms both;
    -o-animation: fadeInUp 300ms linear 1200ms both;
    -ms-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}



